@{
    ViewData["Title"] = "Dashboard";
}
@model List<TransactionRecordViewModel>

<table class="table table-striped table-dark text-center">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">CustCode</th>
            <th scope="col">CustName</th>
            <th scope="col">Balance</th>
            <th scope="col">TransactionId</th>
            <th scope="col">Date</th>
            <th scope="col">DebitAmt</th>
            <th scope="col">CreditAmt</th>
            <th scope="col">TotalAmount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.CustCode</td>
                <td>@item.CustName</td>
                <td>@item.Balance</td>
                <td>@string.Empty</td>
                <td>@string.Empty</td>
                <td>@string.Empty</td>
                <td>@string.Empty</td>
                <td>@item.TotalAmount</td>
            </tr>
            int i = 1;
            foreach (var items in @item.TransactionRecords)
            {
                <tr>
                    <th scope="row">@string.Empty</th>
                    <td>@string.Empty</td>
                    <td>@string.Empty</td>
                    <td>@string.Empty</td>
                    <td>@items.TransactionId</td>
                    <td>@items.Date.ToString().Split(" ")[0]</td>
                    <td>@items.DebitAmt</td>
                    <td>@items.CreditAmt</td>
                    <td>@string.Empty</td>
                </tr>
            }
            <tr>
                <td colspan="5" class="text-center">Available Balance </td>
                <td colspan="4" class="text-center">@item.TotalAmount </td>
            </tr>
        }
    </tbody>
</table>